@layout LoginLayout
@page "/create"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@inject NotificationService NotificationService

<PageTitle>Create Account</PageTitle>


<RadzenRow Gap="0" Class="rz-my-12 rz-mx-auto rz-border-radius-6 rz-shadow-10" Style="width: 100%; max-width: 800px; overflow: hidden;">
    <RadzenColumn Size="12" SizeMD="6">
        <RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-text-align-center rz-p-12 custom-login-column">
            <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H2" Class="rz-color-white rz-mb-6"><b>Create an Account</b></RadzenText>
            <RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-12">

                <RadzenImage Path="/images/logo.png" Style="width: 15rem;" />

            </RadzenStack>
        </RadzenCard>
    </RadzenColumn>
    
    <RadzenColumn Size="12" SizeMD="6">
        <div Class="rz-p-0 rz-p-md-12">
            <RadzenRow Gap="1rem">
                <RadzenColumn Size="12" SizeSM="10">
                    <RadzenTemplateForm TItem="userAux" Data=@user Submit=@register InvalidSubmit=@invalidSubmit>
                        <RadzenStack>
                            <RadzenFormField Text="Profile Photo" Variant=@variant>
                                <RadzenCard>
                                    <RadzenUpload Auto="false" Change="args => UploadChange(args)" @ref="upload" Accept="image/*" Url=@($"upload/{"ProfilePictures"}/{user.nif + "-ProfilePic"}")></RadzenUpload>
                                </RadzenCard>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Email Address" Variant=@variant>
                                <ChildContent>
                                    <RadzenTextBox Name="Email" @bind-Value="@user.email"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="Email" Popup=@user.emailVal Text="Required Field."/>
                                    <RadzenEmailValidator Component="Email" Popup=@user.emailVal Text="Invalid Email Address." Style="position: absolute" />
                                    <RadzenCustomValidator Component="Email" Validator="@(() => emailValido(user.email))" Text="Email address already in use." Popup=@user.emailVal />
                                </Helper>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Password" Variant="@variant">
                                <ChildContent>
                                    <RadzenTextBox Name="Password" @bind-Value="@user.password" Visible="@user.flag"/>
                                    <RadzenPassword Name="Password" @bind-Value="@user.password" Visible="@(!user.flag)"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="Password" Text="Required Field."/>
                                </Helper>
                                <End>
                                    <RadzenButton Icon="@(user.flag ? "visibility" : "visibility_off")" Click="TogglePassword" Variant="Variant.Text" Size="ButtonSize.Small"/>
                                </End>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Name" Variant=@variant>
                                <ChildContent>
                                    <RadzenTextBox Name="NomeComp" @bind-Value="@user.name"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="NomeComp" Text="Required Field."/>
                                </Helper>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Phone Number" Variant="@variant">
                                <ChildContent>
                                    <RadzenTextBox Name="Contac" @bind-Value="@user.contact"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="Contac" Text="Required Field." />
                                    <RadzenRegexValidator Component="Contac" Pattern="^(\+\d{1,4}\s?)?(\d{9,15})$" Text="Insert a valid phone number."/>
                                </Helper>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Address" Variant=@variant>
                                <ChildContent>
                                    <RadzenTextBox Name="Morada" @bind-Value="@user.address"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="Morada" Text="Required Field." />
                                </Helper>                                
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Date of Birth" Variant=@variant>
                                <ChildContent>
                                    <RadzenDatePicker Name="DataNascimento" @bind-Value="@user.birth" DateFormat="MM/dd/yyyy"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="DataNascimento" Text="Required Field."/>
                                    <RadzenCustomValidator Component="DataNascimento" Validator="@(() => idadeValidata(user.birth))" Text="You must be at least 18 years." Popup=@user.idadeVal/>
                                </Helper>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Nacionality" Variant=@variant>
                                <ChildContent>
                                    <RadzenTextBox Name="Nacionalidade" @bind-Value="@user.nationality"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="Nacionalidade" Text="Required Field."/>
                                </Helper>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="NIF (Tax Number)" Variant=@variant>
                                <ChildContent>
                                    <RadzenNumeric Name="NIF" ShowUpDown="false" @bind-Value=@user.nif Placeholder="Enter or clear value" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Enter value" } })"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator DefaultValue="999999999" Component="NIF" Text="Required Field."/>
                                    <RadzenCustomValidator DefaultValue="999999999" Component="NIF" Validator="@(() => validNif(user.nif))" Text="Already exists an Account with this NIF." Popup="@user.nifVal"/>
                                    <RadzenRegexValidator DefaultValue="999999999" Component="NIF" Text="NIF must be 9 digits." Pattern="\d{9}" Popup=@user.nifVal Style="position: absolute" />
                                </Helper>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="Payment Method" Variant="@variant">
                                <Start>
                                    <RadzenIcon Icon="credit_card"/>
                                </Start>
                                <ChildContent>
                                    <RadzenDropDown Name="Pay" Multiple="false" Placeholder="Select..." TValue="string" Data="payMethod" @bind-Value="@user.auxPay"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="Pay" Text="Required Field."/>
                                </Helper>
                            </RadzenFormField>
                            
                            <RadzenFormField Text="IBAN (Internacional Bank Account Number)" Variant=@variant>
                                <ChildContent>
                                    <RadzenTextBox Name="Bank" @bind-Value="@user.iban"/>
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="Bank" Text="Required Field."/>
                                </Helper>
                            </RadzenFormField>
                    
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Register Account" />
                            <RadzenButton ButtonType="ButtonType.Button" Text="Login" Click="@(() => NavigateTo("/login"))"></RadzenButton>
                        </RadzenStack>
                    </RadzenTemplateForm>
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>
</RadzenRow>

<style>
    .custom-login-column {
        height: 100%;
        background-color: #001F3F !important; /* Substitua pela cor desejada */
        color: white;
    }
</style>


@code {
    ILeilumLN leilumF = new LeilumLNFacade();
    Variant variant = Variant.Outlined;

    RadzenUpload upload;

    class userAux
    {
        public string? filename { get; set; }
        public string? email { get; set; }
        public string password { get; set; }
        public bool flag { get; set; }
        public string name { get; set; }
        public string contact { get; set; }
        public string address { get; set; }
        public DateTime birth { get; set; }
        public string nationality { get; set; }
        public int nif { get; set; }
        public int pay { get; set; }
        public string auxPay { get; set; }
        public string iban { get; set; }
        public bool emailVal { get; set; }
        public bool idadeVal { get; set; }
        public bool nifVal { get; set; }

        public userAux()
        {
            flag = false;
            filename = "";
            this.email = "";
            this.password = "";
            this.name = "";
            this.contact = "";
            this.address = "";
            this.nationality = "";
            this.auxPay = "";
            this.iban = "";
            this.pay = 0;
            
        }
        
    }

    string extension;
    userAux user = new userAux();
    
    void UploadChange(UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            extension = file.Name.Split(".")[1];
        }
    }

    ICollection<string> payMethod;

    bool validNif(int nif)
    {
        return !leilumF.existsNIF(nif);
    }

    bool emailValido(string email)
    {
        if (!email.Equals(""))
        {
            return !leilumF.existsEmail(email);
        }
        return true;
    }

    bool idadeValidata(DateTime data)
    {
        if (data != null)
        {
            DateTime dataAtual = DateTime.Now;

            int idade = dataAtual.Year - data.Year;
            
            if (data.Date > dataAtual.AddYears(-idade))
            {
                idade--;
            }

            return idade >= 18;
        }
        return true;
    }
    
    void TogglePassword()
    {
        user.flag = !user.flag;
    }

    void NavigateTo(string url)
    {
        NavigationManager.NavigateTo(url, true);
    }

    protected override async Task OnInitializedAsync()
    {
        payMethod = leilumF.getAllMetodoPagamentos();
        await base.OnInitializedAsync();
    }
    
    private async void register()
    {
        user.pay = leilumF.getIdMetodoPagamento(user.auxPay);
        Console.WriteLine("Register Account - Email: " + this.user.email + "; Password: " + this.user.password + "; Picture: " + this.user.filename + " NIF: " + this.user.nif + "; Name: " + this.user.name + "; Address: " + this.user.address + "; Nacionality: " + this.user.nationality + "; contact: " + this.user.contact + "; Birth: " + this.user.birth + "; pay: " + this.user.pay + "; iban: " + this.user.iban);
            
        if (upload.HasValue)
        {
            await upload.Upload();
            user.filename = "/ProfilePictures/" + user.nif + "-ProfilePic." + extension;
        }
        else
        {
            user.filename = "/images/user-profilePicture.jpg";
        }
            
        Utilizador userNew = new Utilizador(this.user.email,this.user.password,1,this.user.filename,this.user.nif,this.user.name,this.user.address,this.user.nationality,this.user.contact,this.user.birth,this.user.pay,this.user.iban);
    
        if(!leilumF.existsEmail(userNew.getEmail())){
            leilumF.adicionaConta(userNew);
            var customAuthStateProvider = (AuthStateProvider)authStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(new UserSession
            {
                email = userNew.getEmail(),
                tipo = userNew.getTipoUtilizador().ToString()
            });
            CurrentUser.setCurrentUser(userNew);
            NavigationManager.NavigateTo("/", true);
        }
    }

    private async void invalidSubmit()
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Warning, Summary = "Invalid Information. Ensure you filled all the corresponding fields with valid information!", Detail = "Please try again!", Duration = 4000 });
    }
    
}