@page "/profile"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@inject NotificationService NotificationService

<style>
    .custom-card {
        background-color: #1e416c !important; /* Cor do cabeçalho */
        color: white;
    }
    .custom-text {
        color: #b4c2e8;
    }
</style>

<PageTitle>Profile</PageTitle>

<div class="container">
    <h3>Profile</h3>

    @if (currentUser != null)
    {
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="width: 500px">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
                <RadzenImage Path="@currentUser.getFotoPerfil()" Style="width: 100px; height: 100px; border-radius: 50%;" />
                <RadzenStack Gap="0" Style="text-align: center; margin-top: -10px;">
                    <RadzenText TextStyle="TextStyle.Body1">
                        <b>@currentUser.getNome()</b>
                    </RadzenText>
                </RadzenStack>
            </RadzenStack>
            <RadzenCard class="rz-shadow-0 rz-border-radius-0 rz-p-8 custom-card" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" class="rz-color-on-primary-light"><strong>Account Information</strong></RadzenText>
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeSM="12">
                        @if (!isEditMode)
                        {
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>Email</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getEmail()</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>Password</b></RadzenText>
                            <RadzenStack Orientation="Orientation.Horizontal">
                                <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light" Text="@currentUser.getPassword()" Visible="@isPassVisible"/>
                                <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light" Text="********" Visible="@(!isPassVisible)"/>
                                <RadzenButton Icon="@(isPassVisible ? "visibility" : "visibility_off")" Click="passVisible" Style="color: #ffffff; outline: #000000;" Variant="Variant.Text" Size="ButtonSize.Small"/>
                            </RadzenStack>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>Contact</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getContacto()</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>Address</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getMorada()</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>Birth Date</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getDataNascimentoSTR()</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>Nationality</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getNacionalidade()</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>NIF (Tax Number)</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getContribuinte()</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>Payment Method</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@auxpay</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="custom-text rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold"><b>IBAN (International Bank Account Number)</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getIban()</b></RadzenText>
                        }
                        else
                        {
                            <RadzenTemplateForm TItem="Utilizador" Data="@currentUser" Submit="@SaveChanges" InvalidSubmit="@invalidSubmit">
                                <RadzenStack Orientation="Orientation.Vertical">
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Profile Picture</b></RadzenText>
                                    <RadzenFormField Variant=@variant>
                                        <RadzenCard>
                                            <RadzenUpload Auto="false" Change="args => UploadChange(args)" @ref="upload" Accept="image/*" Url=@($"upload/{"ProfilePictures"}/{newNif + "-ProfilePic"}")></RadzenUpload>
                                        </RadzenCard>
                                    </RadzenFormField>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Name</b></RadzenText>
                                    <RadzenFormField Variant=@variant>
                                        <ChildContent>
                                            <RadzenTextBox Name="Name" @bind-Value="@newName"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="Name" Text="Required Field."/>
                                        </Helper>
                                    </RadzenFormField>
                                    
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Password</b></RadzenText>
                                    <RadzenFormField Variant="@variant">
                                        <ChildContent>
                                            <RadzenStack Orientation="Orientation.Horizontal">
                                                <RadzenTextBox Name="Password" @bind-Value="@newPass" Visible="@(!isPassVisible)"/>
                                                <RadzenPassword Name="Password" @bind-Value="@newPass" Visible="isPassVisible"/>
                                                <RadzenButton Icon="@(isPassVisible ? "visibility" : "visibility_off")" Click="passVisible" Style="color: #ffffff; outline: #000000;" Variant="Variant.Text" Size="ButtonSize.Small"/>
                                            </RadzenStack>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="Password" Text="Required Field."/>
                                        </Helper>
                                        <End>
                                            <RadzenButton Icon="@(isPassVisible ? "visibility" : "visibility_off")" Click="passVisible" Variant="Variant.Text" Size="ButtonSize.Small"/>
                                        </End>
                                    </RadzenFormField>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Contact</b></RadzenText>
                                    <RadzenFormField Variant="@variant">
                                        <ChildContent>
                                            <RadzenTextBox Name="Contac" @bind-Value="@newContact"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="Contac" Text="Required Field."/>
                                            <RadzenRegexValidator Component="Contac" Pattern="^(\+\d{1,4}\s?)?(\d{9,15})$" Text="Insert a valid phone number."/>
                                        </Helper>
                                    </RadzenFormField>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Address</b></RadzenText>
                                    <RadzenFormField Variant=@variant>
                                        <ChildContent>
                                            <RadzenTextBox Name="Morada" @bind-Value="@newAddress"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="Morada" Text="Required Field."/>
                                        </Helper>
                                    </RadzenFormField>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Birth Date</b></RadzenText>
                                    <RadzenFormField Variant=@variant>
                                        <ChildContent>
                                            <RadzenDatePicker Name="DataNascimento" @bind-Value="@newDate" DateFormat="MM/dd/yyyy"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="DataNascimento" Text="Required Field."/>
                                            <RadzenCustomValidator Component="DataNascimento" Validator="@(() => idadeValidata(newDate))" Text="You must be at least 18 years."/>
                                        </Helper>
                                    </RadzenFormField>

                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Nacionality</b></RadzenText>
                                    <RadzenFormField Variant=@variant>
                                        <ChildContent>
                                            <RadzenTextBox Name="Nacionalidade" @bind-Value="@newNaci"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="Nacionalidade" Text="Required Field."/>
                                        </Helper>
                                    </RadzenFormField>

                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>NIF (Tax Number)</b></RadzenText>
                                    <RadzenFormField Variant=@variant>
                                        <ChildContent>
                                            <RadzenNumeric Name="NIF" ShowUpDown="false" @bind-Value=@newNif Placeholder="Enter or clear value" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Enter value" } })"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="NIF" Text="Required Field."/>
                                            <RadzenCustomValidator Component="NIF" Validator="@(() => validNif(newNif))" Text="Already exists an Account with this NIF."/>
                                            <RadzenRegexValidator Component="NIF" Text="NIF must be 9 digits." Pattern="\d{9}" Style="position: absolute"/>
                                        </Helper>
                                    </RadzenFormField>

                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>Payment Method</b></RadzenText>
                                    <RadzenFormField Variant="@variant">
                                        <Start>
                                            <RadzenIcon Icon="credit_card"/>
                                        </Start>
                                        <ChildContent>
                                            <RadzenDropDown Name="Pay" Multiple="false" Placeholder="Select..." TValue="string" Data="payMethod" @bind-Value="@auxpay"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="Pay" Text="Required Field."/>
                                        </Helper>
                                    </RadzenFormField>

                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold custom-text"><b>IBAN (Internacional Bank Account Number)</b></RadzenText>
                                    <RadzenFormField Variant=@variant>
                                        <ChildContent>
                                            <RadzenTextBox Name="Bank" @bind-Value="@newIban"/>
                                        </ChildContent>
                                        <Helper>
                                            <RadzenRequiredValidator Component="Bank" Text="Required Field."/>
                                        </Helper>
                                    </RadzenFormField>
                                    <RadzenButton class="btn-submit" Style="color: #ffffff" ButtonType="ButtonType.Submit"><b>Submit Changes</b></RadzenButton>
                                </RadzenStack>
                            </RadzenTemplateForm>
                        }
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.End" Gap="0">
                @if (isEditMode)
                {   
                    <RadzenButton Variant="Variant.Text" Style="color: #00b477" Text="Go Back (Without saving)" Click="ToggleEditMode" />
                }
                else
                {
                    <RadzenButton class="btn-submit" Style="color: #ffffff" Variant="Variant.Text" Text="Edit Profile" Click="ToggleEditMode"><b>Edit Profile</b></RadzenButton>
                }
            </RadzenStack>
        </RadzenCard>
    }
    else
    {
        <p>Loading profile...</p>
    }
</div>

<style>
    h3 {
        text-align: center;
        font-size: 24px; 
        font-weight: bold;
    }
    .custom-account-card {
        background-color: #001F3F !important; 
        color: white;
    }
    

    .btn-submit {
            color: #fff; !important;
            background-color: #00b477 !important;
            border-color: #1861ac;
    }

    
</style>

@code {
    Variant variant = Variant.Outlined;
    ILeilumLN leilumF = new LeilumLNFacade();
    Utilizador currentUser;
    Utilizador editUser;
    bool isEditMode = false;
    RadzenUpload upload;
    
    
    string? newFoto;
    string? newName;
    string newPass = "";
    string? newContact;
    string? auxpay = "";
    string? newAddress;
    DateTime newDate;

    string? newNaci;

    int newNif;
    int newPag;
    string extension;

    string? newIban;

    bool isPassVisible = false;
    ICollection<string> payMethod;
    
    void UploadChange(UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            extension = file.Name.Split(".")[1];
        }
    }
    
    
    public void passVisible()
    {
        isPassVisible = !isPassVisible;
    }
    
    bool validNif(int nif)
    {
        if (!nif.Equals(currentUser.getContribuinte()))
        {
            return !leilumF.existsNIF(nif);
        } else return true;
    }

    bool idadeValidata(DateTime data)
    {
        if (data != null)
        {
            DateTime dataAtual = DateTime.Now;

            int idade = dataAtual.Year - data.Year;
            
            if (data.Date > dataAtual.AddYears(-idade))
            {
                idade--;
            }

            return idade >= 18;
        }
        return true;
    }
    
    protected override async Task OnInitializedAsync()
    {
        currentUser = CurrentUser.getCurrentUser();
        payMethod = leilumF.getAllMetodoPagamentos();
        
        if (currentUser != null)
        {
            newName = currentUser.getNome();
            newPass = currentUser.getPassword();
            newContact = currentUser.getContacto();
            newAddress = currentUser.getMorada();
            newDate = new DateTime(currentUser.getDataNascimento().Year, currentUser.getDataNascimento().Month, currentUser.getDataNascimento().Day);
            newNaci = currentUser.getNacionalidade();
            newNif = currentUser.getContribuinte();
            newPag = currentUser.getMetodoPagamento();
            newIban = currentUser.getIban();
            auxpay = leilumF.getDesignacaoMetodoPagamento(currentUser.getMetodoPagamento());
        }

        await Task.Delay(1000);
        await base.OnInitializedAsync();
    }

    async void SaveChanges()
    {
        newPag = leilumF.getIdMetodoPagamento(auxpay);
        if (upload.HasValue)
        {
            await upload.Upload();
            string file = "/ProfilePictures/" + newNif + "-ProfilePic." + extension;
            currentUser.setFotoPerfil(file);
        }
        
        currentUser.setNome(newName);
        currentUser.setPassword(newPass);
        currentUser.setContacto(newContact);
        currentUser.setMorada(newAddress);
        currentUser.SetDataNascimento(newDate);
        currentUser.setNacionalidade(newNaci);
        currentUser.setContribuinte(newNif);
        currentUser.setMetodoPagamento(newPag);
        currentUser.setIban(newIban);

        ILeilumLN ef = new LeilumLNFacade();
        ef.updateUtilizador(currentUser);
        isEditMode = false;
        
        StateHasChanged();
    }
    
    void ToggleEditMode()
    {
        isEditMode = !isEditMode;
    }
    
    private async void invalidSubmit()
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Warning, Summary = "Invalid Information. Ensure you filled all the corresponding fields with valid information!", Detail = "Please try again!", Duration = 4000 });
    }
    
}

<style>
    .custom-datepicker input {
        background-color: transparent !important;
        border: none;
        color: white !important;
        font-weight: bold;
    }
</style>