@page "/profile"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

@using leilum.Data;

<PageTitle>Profile</PageTitle>

<div class="container">
    <h3>Profile</h3>

    @if (currentUser != null)
    {
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="width: 500px">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
                <RadzenImage Path="@currentUser.getFotoPerfil()" Style="width: 100px; height: 100px; border-radius: 50%;" />
                <RadzenStack Gap="0" Style="text-align: center; margin-top: -10px;">
                    <RadzenText TextStyle="TextStyle.Body1">
                        @if (isEditMode)
                        {
                            <InputText @bind-Value="newName" style="background-color: transparent; border: none; font-weight: bold; text-align: center;" />
                        }
                        else
                        {
                            <b>@currentUser.getNome()</b>
                        }
                    </RadzenText>
                </RadzenStack>
            </RadzenStack>
            <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>Account Information</strong></RadzenText>
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeSM="12">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">Email</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@currentUser.getEmail()</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">Password</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <InputText type="text"  @bind-Value="newPass" style="background-color: transparent; border: none; color: white; font-weight: bold;"/>
                            }
                            else
                            {
                                <b>@currentUser.getPassword()</b>
                            }
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">Contact</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <InputText type="text" @bind-Value="newContact" style="background-color: transparent; border: none; color: white; font-weight: bold;"/>
                            }
                            else
                            {
                                <b>@currentUser.getContacto()</b>
                            }
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">Adress</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <InputText type="text" @bind-Value="newAddress" style="background-color: transparent; border: none; color: white; font-weight: bold;"/>
                            }
                            else
                            {
                                <b>@currentUser.getMorada()</b>
                            }
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">Birth Date</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <RadzenDatePicker @bind-Value="newDate" DateFormat="MM/dd/yyyy" Class="custom-datepicker" />
                            }
                            else
                            {
                                <b>@currentUser.getDataNascimentoSTR()</b>
                            }
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">Nationality</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <InputText type="text" @bind-Value="newNaci" style="background-color: transparent; border: none; color: white; font-weight: bold;"/>
                            }
                            else
                            {
                                <b>@currentUser.getNacionalidade()</b>
                            }
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">TIN</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <InputNumber type="text" @bind-Value="newNif" style="background-color: transparent; border: none; color: white; font-weight: bold;"/>
                            }
                            else
                            {
                                <b>@currentUser.getContribuinte()</b>
                            }
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">Payment Method</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <InputNumber type="text" @bind-Value="newPag" style="background-color: transparent; border: none; color: white; font-weight: bold;"/>
                            }
                            else
                            {
                                <b>@currentUser.getMetodoPagamento()</b>
                            }
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-font-weight-bold" style="color: #000;">IBAN</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light">
                            @if (isEditMode)
                            {
                                <InputText type="text"  @bind-Value="newIban" style="background-color: transparent; border: none; color: white; font-weight: bold;"/>
                            }
                            else
                            {
                                <b>@currentUser.getIban()</b>
                            }
                        </RadzenText>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.End" Gap="0">
                @if (isEditMode)
                {   
                    <RadzenButton Variant="Variant.Text" Text="Guardar" Click="SaveChanges" />
                    <RadzenButton Variant="Variant.Text" Text="Sair" Click="ToggleEditMode" />
                }
                else
                {
                    <RadzenButton Variant="Variant.Text" Text="EDITAR" Click="ToggleEditMode" />
                }
            </RadzenStack>
        </RadzenCard>
    }
    else
    {
        <p>Loading profile...</p>
    }
</div>

<style>
    h3 {
        text-align: center;
        font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
        font-weight: bold;
    }
</style>

@code {
    Utilizador currentUser;
    bool isEditMode = false;

    string? newFoto;
    string? newName;
    string? newPass;
    string? newContact;

    string? newAddress;
    DateTime newDate;

    string? newNaci;

    int newNif;

    int newPag;

    string? newIban;
    
    protected override async Task OnInitializedAsync()
    {
        // Fetch user details from your authentication system or wherever you store user information
        // For example, you can use your CurrentUser class or authentication state
        currentUser = CurrentUser.getCurrentUser();

        if (currentUser != null)
        {
            newName = currentUser.getNome();
            newPass = currentUser.getPassword();
            newContact = currentUser.getContacto();
            newAddress = currentUser.getMorada();
            newDate = new DateTime(currentUser.getDataNascimento().Year, currentUser.getDataNascimento().Month, currentUser.getDataNascimento().Day);
            newNaci = currentUser.getNacionalidade();
            newNif = currentUser.getContribuinte();
            newPag = currentUser.getMetodoPagamento();
            newIban = currentUser.getIban();
        }

        @* Console.WriteLine(currentUser.getFotoPerfil()); *@
        // Simulate fetching data (replace this with your actual logic)
        await Task.Delay(1000);
    }

    void SaveChanges()
    {
        currentUser.setNome(newName);
        currentUser.setPassword(newPass);
        currentUser.setContacto(newContact);
        currentUser.setMorada(newAddress);
        currentUser.SetDataNascimento(newDate);
        currentUser.setNacionalidade(newNaci);
        currentUser.setContribuinte(newNif);
        currentUser.setMetodoPagamento(newPag);
        currentUser.setIban(newIban);

        ILeilumLN ef = new LeilumLNFacade();
        ef.updateUtilizador(currentUser);
        isEditMode = false; // Sair do modo de edição após salvar
    }
    void ToggleEditMode()
    {
        isEditMode = !isEditMode;
    }

    
}

<style>
    .custom-datepicker input {
        background-color: transparent !important;
        border: none;
        color: white !important;
        font-weight: bold;
    }
</style>